@import url("https://fonts.googleapis.com/css2?family=Acme&family=Irish+Grover&family=Open+Sans:ital@1&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,300;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /*height: 100;*/
  margin: 0;
  padding: 0;
  background: url(../img/1616581481_30-p-fon-dlya-brauzera-35.jpg);
  background-size: cover;
  font-family: "Raleway", sans-serif;
}
h1 {
  text-transform: uppercase;
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 1.3em;
  text-align: left;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0px 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: #37393d; */
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #37393d;
  z-index: 3;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header_leng {
  position: relative;
  flex: 0 0 50px;

  z-index: 5;
}
.header_burger {
  display: none;
}

.header_menu {
  cursor: pointer;
  color: white;
  background-color: #37393d;
  border: 1px solid #37393d;
  padding-left: 20px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header_list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header_list li a {
  text-decoration: none;
}
.link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
/* body main */
.textBody {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 100px 0px 0px 0px;
}
.lengKnow {
  font-size: 22px;
  list-style: none;
  text-align: left;
}
.avatar {
  background: url(../img/foto.png);
  background-size: cover;
  width: 225px;
  height: 360px;
  border-radius: 10px;
}
.avatar:hover {
  scale: 1.3;
}
.avatarText h2 {
  font-size: 1.7em;
  text-align: left;
}

.textBody-left {
  max-width: 330px;
  height: 100%;
  color: aliceblue;
}
.shadow {
  text-shadow: 0 5px 45px white;
  transition: 0.3s;
  transform: scale(1.5);
}
.textBody-right {
  padding: 20px;
  width: 70%;
  height: 100%;
  color: rgb(186, 248, 61);
}

.bodyTitle {
  align-items: center;
}
/*-----project-----*/

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0 50px 0;
}
.project h2 {
  text-align: center;
  margin-bottom: 100px;
  flex: 0 1 100%;
  color: rgb(186, 248, 61);
}
.project h2:hover {
  cursor: pointer;
  transform: scale(1.3);
  text-shadow: 0 5px 45px rgb(186, 248, 61);
}
.project-form {
  overflow: hidden;
  width: 400px;
  height: 480px;
  border-radius: 10px;
}
.project-form:hover {
  cursor: pointer;
  box-shadow: 0 0 20px white;
  transform: scale(1.1);
  transition: 0.4s;
}
.img-send-form img {
  width: 100%;
}
.project-lending {
  width: 400px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
}
.img-test-figma img {
  width: 100%;
}
.project-lending:hover {
  box-shadow: 0 0 20px white;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}

/*-----contact---*/
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contact-title {
  flex: 0 1 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: rgb(186, 248, 61);
  margin: 0 0 3% 0;
}
.contact-title:hover {
  transition: 0.4s;
  cursor: pointer;
  transform: scale(1.3);
  text-shadow: 0 5px 45px rgb(186, 248, 61);
}
.contact-iformation {
  flex: 0 1 50%;
  line-height: 50px;
  font-size: 30px;
  max-width: 500px;
}

.contact-iformation a {
  margin-right: 20px;
  font-size: 20px;
  text-decoration: none;
}

.footer {
  display: flex;
  width: 100%;
  height: 90px;
  margin-bottom: 50px;

  justify-content: center;
}

.contact-map {
  flex: 0 1 45%;
  max-width: 500px;
  height: 100%;
}

.copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  color: bisque;
  font-size: 17px;
}
@media (max-width: 1150px) {
  .bartop {
    padding-left: 1em;
  }
  .textBody {
    padding-left: 1em;
  }
  .contact {
    flex-direction: column;
    padding: 0 1em 0 1em;
  }
}

@media (max-width: 900px) {
  .contact-iformation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2em;
  }
  .contact-map {
    margin: 0 auto;
  }
  .project {
    flex-direction: column;
  }
  .project-form {
    padding-bottom: 38em;
  }
  @media (max-width: 768px) {
    body.lock {
      overflow: hidden;
    }
    .header_body {
      height: 60px;
    }
    .header_leng {
      flex: 0 0 35px;
    }
    .header_burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
    }
    .header_burger:before,
    .header_burger:after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    .header_burger:before {
      top: 0px;
    }
    .header_burger:after {
      bottom: 0;
    }
    .header_burger.active span {
      transform: scale(0);
    }
    .header_burger.active:before {
      top: 9px;
      transform: rotate(45deg);
    }
    .header_burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }

    .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #18b5a4;
      z-index: 2;
      transition: all 0.3s ease 0s;
      padding: 70px 10px 20px 10px;
    }
    .header_menu.active {
      top: 0;
    }

    .header_burger span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    .header_list {
      display: block;
    }
    .header_list li {
      margin: 0px 0px 20px 0px;
    }
    .footer {
      margin: 50px;
    }
    .project {
      padding: 50px 0 50px 40px;
    }
    .project-form:hover {
      scale: 1;
    }
    .project-lending:hover {
      scale: 1;
    }
  }
}
